extends layout

block content
  .f-container
    .f-title FIKMAT

    .f-led
      #f-led__top ⬤⬤⬤⬤⬤
      #f-led__left
        | ⬤
        br
        | ⬤
        br
        | ⬤
        br
        | ⬤
        br
        | ⬤
      #f-led__right
        | ⬤
        br
        | ⬤
        br
        | ⬤
        br
        | ⬤
        br
        | ⬤

    .f-screen

  script(src='/javascripts/base.js')
