extends layout

block content
  .f-container
    .f-box
      #f-led-left
        each _ in Array(50)
          .f-led__diode ⬤

      .f-box__middle
        .f-screen FIKMAT

      #f-led-right
        each _ in Array(50)
          .f-led__diode ⬤


  script(src='/javascripts/base.js')
