doctype html
html
  head
    meta(content="text/html; charset=UTF-8", http-equiv='Content-Type')
    
    title FIK API TEST APP
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(
      src="https://cdn.socket.io/4.2.0/socket.io.min.js"
      integrity="sha384-PiBR5S00EtOj2Lto9Uu81cmoyZqR57XcOna1oAuVuIEjzj0wpqDVfD0JA9eXlRsj"
      crossorigin="anonymous"
    )

  body
    block content
