body {
  padding: 0;
  margin: 0;
  font: 14px Verdana, Arial, sans-serif;
  background: black
}

.f-container {
  margin: 50px auto 0 auto;
  width: 300px;
}

.f-box__middle {
  flex-grow: 1;
  text-align: center
}

.f-screen {
  background: blue;
  height: 130px;
  margin: 50px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-box {
  border: solid 1px white;
  padding-top: 1px;
  padding-bottom: 3px;
  color: white;
  display: flex;
}

#f-led-left {
  font-size: 8px;
  margin-left: 2px;
}

#f-led-right {
  font-size: 8px;
  margin-right: 2px;
}
